
p {
  position: relative;
  margin: 0 auto;
  background-color: red;
  border-radius: 500px;
  height: 100px;
  width: 100px;
  text-align: center;
}
p:hover{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  transition: height width 2s;
}
